 {% extends "forms.html" %}
 {% block title %}Trabajo{% endblock title %}

 {% block contenido %}
 <div class="col-lg-4">
    <p>Lista de Trabajo</p>
 </div>
 {% for cancion in object_list %}
 <div class="col-lg-4 bg-dark text-light">
    <p><b>Trabajo: </b>{{ trabajo.Nombre_trabajo }}</p>
    <p><b>Tipo de trabajo: </b>{{ trabajo.Tipo_trabajo }}</p>
    <p><b>Salario: </b>{{ trabajo.salario }}</p>
    
    
</div>
{% empty %}
<h1>No se encontro ningun trabajo</h1>
{% endfor %}
{% endblock contenido %}