{% extends "forms.html" %}
{% block titulo %}Herencia 5{% endblock %}


{% block contenido %}



<h1>Formulario 5</h1>
        <form method = "POST">
			{% csrf_token %}  
			<label for="Nombre_comida">Nombre_comida: </label>
		    <input id="Nombre_comida" type="text" name="Nombre_comida" value="{{ Nombre_comida }}">

		    <label for="Tipo_de_comida">Apellido Paterno: </label>
		    <input id="Tipo_de_comida" type="text" name="Tipo_de_comida" value="{{ Tipo_de_comida }}">
			<br>

			<input type ="submit" value = "Registrar">
				
		</form>
<a href="/">back</a>
{% endblock %}